# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iws
*.iml
*.ipr

# Build
dist/
build/
.next/
/coverage
/.nyc_output
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/

# OS
Thumbs.db
.DS_Store

# Logs
logs/
*.log
pids
*.pid
*.seed
*.pid.lock

# Gradle specific
.gradle
out/
bin/
.apt_generated
.factorypath
.springBeans
.sts4-cache

# NetBeans
/nbproject/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
*.log*
lerna-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

